# Fichero: .gitignore (en la raíz del proyecto)

# Dependencias
/node_modules

# Ficheros de build de Next.js
/.next/
/out/

# Variables de entorno locales
.env.local
.env
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/launch.json
supabase/.temp/cli-latest
supabase/.temp/gotrue-version
supabase/.temp/pooler-url
supabase/.temp/postgres-version
supabase/.temp/project-ref
supabase/.temp/rest-version
supabase/.temp/storage-version
